.headerContainer {
  height : 60%;
  width : 100%;
  padding : 0px;
  margin : 0px;
  display : flex;
  flex-direction : column;
  justify-content : space-between;
  gap: 120px;
  object-fit : cover;
  background-image : url(../assets/divBack.png);
  background-repeat : no-repeat;
  background-size : cover;
  color : #ffffff;
}

.navBar {
  background : inherit;
  display : flex;
  position : fixed;
  height : 50px;
  width : 100%;
  padding-top: 15px;
  flex-direction : row;
  justify-content: space-around;
  box-shadow : 0 4px 8px 0 rgba(0,0,0,0.3);
  font-size : 16px;
}

.navBar.* {
  align : center;
  text-align : center center;
}

.navBar.active {
  transition : 0.3s;
  background : #554a6c;
  color : #0d061a; 
}

.headerText {
  margin-top : 120px;
  align : center;
  text-align : center;
}

a {
  color : #bbbb9b
}

a:link , a:visited {
  text-decoration : none;
}

a:hover , a:active {
  color : white;
  text-decoration : underline;
}
