.SearchContainer {
  display : flex;
  flex-direction : column;
  justify-content : space-between;
}

form {
  display : flex;
  flex-direction : row;
  justify-content : space-evenly;
}

.inDiv {
  display : flex;
  flex-direction : column;
  justify-content: space-around;
}

select, input{
  background : transparent;
  background-color : rgba(0,0,0,0.5);
  border : 0px;
  border-radius : 5px;
  color : #ffffff;
}

button {
  background-color : #102010;
  color : #ffffff;
  border : 0px;
  border-radius : 5px;
  font-size : 12px;
  padding : 5px;
  margin-left : 48%;
  margin-top : 15px;
  margin-bottom : 15px;
}
