.appCont {
  display : flex;
  margin : 0;
  padding : 0;
  height : 100vh;
  background : #0d000d;
  color : #ffffff;
  align: center;
}

.accBox{
  margin : 50px;
  width : 70%;
  background : #806198;
  text-align : center;
  border-radius : 20px;
}

img {
  height : 50px;
  border-radius : 25px; 
}

form {
  display : flex;
  flex-direction : column;
}

input, select {
  width : 100px;
  margin : auto;
}

button {
  margin : auto;
  margin-top : 50px;
}
